body{
    margin:0;
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.ticket{
    position:relative;
    width:100%;
    max-width:1366px;
}

.background{
    width:100%;
    display:block;
}

.scratch{
    position:absolute;
    cursor:pointer;
}

/* LEFT BOX */

.about{
    left:26.07%;
    top:68.75%;
    width:11.38%;
    height:20.24%;
}

/* MIDDLE BOX */

.works{
    left:48.16%;
    top:68.75%;
    width:11.38%;
    height:20.24%;
}

/* RIGHT BOX */

.cv{
    left:70.37%;
    top:68.75%;
    width:11.38%;
    height:20.24%;
}
