.ticket{
    position:relative;
    width:100%;
    max-width:1366px;
    margin:auto;
}

.background{
    width:100%;
    display:block;
}

.scratch{
    position:absolute;
    cursor:pointer;
}

/* STAR */
.about{
    left:26.07%;
    top:68.75%;
    width:11.38%;
    height:20.24%;
}

/* CLAPPER */
.works{
    left:48.16%;
    top:68.75%;
    width:11.38%;
    height:20.24%;
}

/* LIGHT */
.cv{
    left:70.37%;
    top:68.75%;
    width:11.38%;
    height:20.24%;
}
